section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        h1
          | Datatables
      .col-sm-6
        ol.breadcrumb.float-sm-right
          li.breadcrumb-item
            a[href="#{root_path}"]
              | Home
          li.breadcrumb-item.active
            | Datatables
section.content
  .row
    .col-12
      .card
        .card-header
          h3.card-title
            | Data Table With Full Features
        .card-body
          table#example1.table.table-bordered.table-hover
            thead
              tr
                th
                  | Rendering engine
                th
                  | Browser
                th
                  | Platform(s)
                th
                  | Engine version
                th
                  | CSS grade

javascript:
  var table_data =
    [
      {"engine":"Trident","browser":"Internet Explorer 4.0","platform":"Win 95+","version":"4","css":"X"},
      {"engine":"Trident","browser":"Internet Explorer 5.0","platform":"Win 95+","version":"5","css":"C"},
      {"engine":"Trident","browser":"Internet Explorer 5.5","platform":"Win 95+","version":"5.5","css":"A"},
      {"engine":"Trident","browser":"Internet Explorer 6","platform":"Win 98+","version":"6","css":"A"},
      {"engine":"Trident","browser":"Internet Explorer 7","platform":"Win XP SP2+","version":"7","css":"A"},
      {"engine":"Trident","browser":"AOL browserr (AOL desktop)","platform":"Win XP","version":"6","css":"A"},
      {"engine":"Gecko","browser":"Firefox 1.0","platform":"Win 98+ / OSX.2+","version":"1.7","css":"A"},
      {"engine":"Gecko","browser":"Firefox 1.5","platform":"Win 98+ / OSX.2+","version":"1.8","css":"A"},
      {"engine":"Gecko","browser":"Firefox 2.0","platform":"Win 98+ / OSX.2+","version":"1.8","css":"A"},
      {"engine":"Gecko","browser":"Firefox 3.0","platform":"Win 2k+ / OSX.3+","version":"1.9","css":"A"},
      {"engine":"Gecko","browser":"Camino 1.0","platform":"OSX.2+","version":"1.8","css":"A"},
      {"engine":"Gecko","browser":"Camino 1.5","platform":"OSX.3+","version":"1.8","css":"A"},
      {"engine":"Gecko","browser":"Netscape 7.2","platform":"Win 95+ / Mac OS 8.6-9.2","version":"1.7","css":"A"},
      {"engine":"Gecko","browser":"Netscape browserr 8","platform":"Win 98SE+","version":"1.7","css":"A"},
      {"engine":"Gecko","browser":"Netscape Navigator 9","platform":"Win 98+ / OSX.2+","version":"1.8","css":"A"},
      {"engine":"Gecko","browser":"Mozilla 1.0","platform":"Win 95+ / OSX.1+","version":"1","css":"A"},
      {"engine":"Gecko","browser":"Mozilla 1.1","platform":"Win 95+ / OSX.1+","version":"1.1","css":"A"},
      {"engine":"Gecko","browser":"Mozilla 1.2","platform":"Win 95+ / OSX.1+","version":"1.2","css":"A"},
      {"engine":"Gecko","browser":"Mozilla 1.3","platform":"Win 95+ / OSX.1+","version":"1.3","css":"A"},
      {"engine":"Gecko","browser":"Mozilla 1.4","platform":"Win 95+ / OSX.1+","version":"1.4","css":"A"},
      {"engine":"Gecko","browser":"Mozilla 1.5","platform":"Win 95+ / OSX.1+","version":"1.5","css":"A"},
      {"engine":"Gecko","browser":"Mozilla 1.6","platform":"Win 95+ / OSX.1+","version":"1.6","css":"A"},
      {"engine":"Gecko","browser":"Mozilla 1.7","platform":"Win 98+ / OSX.1+","version":"1.7","css":"A"},
      {"engine":"Gecko","browser":"Mozilla 1.8","platform":"Win 98+ / OSX.1+","version":"1.8","css":"A"},
      {"engine":"Gecko","browser":"Seamonkey 1.1","platform":"Win 98+ / OSX.2+","version":"1.8","css":"A"},
      {"engine":"Gecko","browser":"Epiphany 2.20","platform":"Gnome","version":"1.8","css":"A"},
      {"engine":"Webkit","browser":"Safari 1.2","platform":"OSX.3","version":"125.5","css":"A"},
      {"engine":"Webkit","browser":"Safari 1.3","platform":"OSX.3","version":"312.8","css":"A"},
      {"engine":"Webkit","browser":"Safari 2.0","platform":"OSX.4+","version":"419.3","css":"A"},
      {"engine":"Webkit","browser":"Safari 3.0","platform":"OSX.4+","version":"522.1","css":"A"},
      {"engine":"Webkit","browser":"OmniWeb 5.5","platform":"OSX.4+","version":"420","css":"A"},
      {"engine":"Webkit","browser":"iPod Touch / iPhone","platform":"iPod","version":"420.1","css":"A"},
      {"engine":"Webkit","browser":"S60","platform":"S60","version":"413","css":"A"},
      {"engine":"Presto","browser":"Opera 7.0","platform":"Win 95+ / OSX.1+","version":"-","css":"A"},
      {"engine":"Presto","browser":"Opera 7.5","platform":"Win 95+ / OSX.2+","version":"-","css":"A"},
      {"engine":"Presto","browser":"Opera 8.0","platform":"Win 95+ / OSX.2+","version":"-","css":"A"},
      {"engine":"Presto","browser":"Opera 8.5","platform":"Win 95+ / OSX.2+","version":"-","css":"A"},
      {"engine":"Presto","browser":"Opera 9.0","platform":"Win 95+ / OSX.3+","version":"-","css":"A"},
      {"engine":"Presto","browser":"Opera 9.2","platform":"Win 88+ / OSX.3+","version":"-","css":"A"},
      {"engine":"Presto","browser":"Opera 9.5","platform":"Win 88+ / OSX.3+","version":"-","css":"A"},
      {"engine":"Presto","browser":"Opera for Wii","platform":"Wii","version":"-","css":"A"},
      {"engine":"Presto","browser":"Nokia N800","platform":"N800","version":"-","css":"A"},
      {"engine":"Presto","browser":"Nintendo DS browserr","platform":"Nintendo DS","version":"8.5","css":"C/A"},
      {"engine":"KHTML","browser":"Konqureror 3.1","platform":"KDE 3.1","version":"3.1","css":"C"},
      {"engine":"KHTML","browser":"Konqureror 3.3","platform":"KDE 3.3","version":"3.3","css":"A"},
      {"engine":"KHTML","browser":"Konqureror 3.5","platform":"KDE 3.5","version":"3.5","css":"A"},
      {"engine":"Tasman","browser":"Internet Explorer 4.5","platform":"Mac OS 8-9","version":"-","css":"X"},
      {"engine":"Tasman","browser":"Internet Explorer 5.1","platform":"Mac OS 7.6-9","version":"1","css":"C"},
      {"engine":"Tasman","browser":"Internet Explorer 5.2","platform":"Mac OS 8-X","version":"1","css":"C"},
      {"engine":"Misc","browser":"NetFront 3.1","platform":"Embedded devices","version":"-","css":"C"},
      {"engine":"Misc","browser":"NetFront 3.4","platform":"Embedded devices","version":"-","css":"A"},
      {"engine":"Misc","browser":"Dillo 0.8","platform":"Embedded devices","version":"-","css":"X"},
      {"engine":"Misc","browser":"Links","platform":"Text only","version":"-","css":"X"},
      {"engine":"Misc","browser":"Lynx","platform":"Text only","version":"-","css":"X"},
      {"engine":"Misc","browser":"IE Mobile","platform":"Windows Mobile 6","version":"-","css":"C"},
      {"engine":"Misc","browser":"PSP browserr","platform":"PSP","version":"-","css":"C"},
      {"engine":"Other","browser":"All others","platform":"-","version":"-","css":"U"}
    ];
  $(window).on('turbolinks:load', () => {
    $('#example1').DataTable({
      retrieve: true,
      paging: true,
      lengthChange: true,
      searching: true,
      ordering: true,
      info: true,
      autoWidth: true,
      data: table_data,
      columns: [
        { data: 'engine' },
        { data: 'browser' },
        { data: 'platform' },
        { data: 'version' },
        { data: 'css' }
      ],
      order: [[0, 'asc']]
    });
  })
