= link_to(customer_path(@customer), class: 'btn btn-danger btn_delete ml-2', method: :delete, data: { confirm: 'Are you sure?' }) { fa_icon('trash', class: 'mr-2') + 'Delete'}
= link_to(customers_path, class: 'btn btn-default float-right') { fa_icon('chevron-left') }
