@import "icheck/skins/square/blue";
@import "font-awesome";
@import "bootstrap/scss/bootstrap";
@import "datatables.net-bs4/css/dataTables.bootstrap4";
@import "admin-lte/dist/css/adminlte";
@import "jquery-ui/core";
@import "jquery-ui/theme";
@import "jquery-ui/datepicker";
@import "toastr";
@import "sweetalert2/dist/sweetalert2";
